
@media only screen and (max-width: 850px) {

h2{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

h3{
    font-size: 1.1rem;
    font-weight: 400;
}

h4{
    font-size: .9rem;
}

h6{
    font-size: .8rem;
}

p{
    font-size: 1rem;
      line-height: 2rem;
}

#main{
    position: relative;
    width: 100vw;
    transform: translateY(-100px);
    height: fit-content;
}    

.pmain{
    position: relative;
    width: 100vw;
    transform: translateY(-100px);
    height: fit-content;
}

.ptitle{
      padding-top: 10rem;
    margin-bottom: 0rem;
    scale: 80%;
}

.bg{
    display: none;
}

.bgmobile{
    display: block;
}

#whale{
    padding-top: 10rem;
    margin-bottom: 4rem;
          width: 50%;

}

#foot{
    margin-top: 6rem;
    padding-bottom: 3rem;
}

.projects{
    width: 95%;
}

.pject:hover {
  opacity: 1;
  filter: saturate(1);
}




}


