
@media only screen and (max-width: 768px) {

  body{
    overflow: hidden;
    touch-action: none;
  }

 #showcase{
      margin: 20vh auto;
      width: 80%;
      height: 40%;
      /* border: 1px solid red; */
  }


    .reg:hover{
      transform: none;
  }

  img.reg.active {
    transform: scaleX(105%) scaleY(95%) skewX(3deg) skewY(3deg);
  }

  #grid{
    width: 10vw;
    left: 10vw;
  }

  #reload{
    width: 10vw;
    left: 40vw;
    top: 7vh;
  }

  .play-pause{
    width: 10vw;
    left: 70vw;
    top: 7vh;
  }

}


