@charset "UTF-8";

html{
    font-size: 16px;
}

body{
    overflow: hidden;
}

#main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#reload{
    background-image: url(../images/refresh.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 5vh;
    height: 5vh;
    top: 18vh;
    left: 5vh;
    opacity: 40%;
    transition: all .7s ease;
}

#reload:hover{
    /* opacity: 60%; */
    cursor: pointer;
    transform: scaleX(110%) scaleY(90%) rotateZ(180deg);
}

#grid{
    background-image: url(../images/grid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 5vh;
    height: 5vh;
    top: 7vh;
    left: 5vh;
    opacity: 40%;
    transition: all .4s ease;
}

#grid:hover{
    cursor: pointer;
    transform: scale(80%)
}

#single{
    background-image: url(../images/single.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 5vh;
    height: 5vh;
    top: 7vh;
    left: 5vh;
    opacity: 40%;
    transition: all .4s ease;
    z-index: 999;
}

#single:hover{
    cursor: pointer;
    transform: scale(120%);
}

#showcase{
    margin: 20vh auto;
    width: 30%;
    height: 50%;
    /* border: 1px solid red; */
}

#bg{
    position: absolute;
    top: 60vh;
    left: 0;
    z-index: 0;
    background-color: rgb(230, 230, 230);
    width: 100vw;
    height: 40vh;
    filter: blur(5px);

}

@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.item{
    width: 100%;
    height: 100%;
}

.images{
    width: 100%;
    height: 100%;
    animation-name: fadein;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    /* border: 1px solid red; */
}

.images img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    top: 0;
    -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
    /* border: 1px solid red; */

}

.images img:hover{
    cursor: pointer;
  
}

@keyframes bounce {
    0% {top: 0%;}
    50% {top: 3%}
}

.reg{
    z-index: 3;
    transition: all .1s ease-in-out;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.reg:hover{
    transform: scaleX(105%) scaleY(95%);
}

img.reg.active {
    transform: scaleX(105%) scaleY(95%) skewX(3deg) skewY(3deg);
  }

@keyframes grow {
    0% {filter: blur(15px) brightness(0); transform: rotateX(120deg) scaleY(15%) scaleX(100%);}
    50% {filter: blur(5px) brightness(0); transform: rotateX(120deg) scaleY(15%) scaleX(110%);}
    100% {filter: blur(15px) brightness(0); transform: rotateX(120deg) scaleY(15%) scaleX(100%);}
}

.shadow{
    margin-top: -35%;
    height: 0px;
    z-index: 1;
    opacity: 40%;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.controls{
    opacity: 1;
}

.play-pause {
    background-color: white;
    border: none;
    background-image: url(../images/audio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 5vh;
    height: 5vh;
    top: 29vh;
    left: 5vh;
    opacity: 40%;
    transition: all .4s ease;
    z-index: 1;
}

.play-pause:hover{
    cursor: pointer;
    transform: skew(20deg) scale(110%);
}

.play-pause:active{
    cursor: pointer;
    transform: skew(-20deg) scale(110%);
}

#grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem 5rem;
    max-width: 1200px;
    margin: auto;
    margin-top: 7vh;
}